        /* .menuhamburguesa */
        /* XS */
        
        @media only screen and (min-width: 0px) and (max-width: 481px) {
            .menu li {
                padding: 16px;
                padding-left: 20%;
                width: 100%;
                font-size: 30px;
            }
            #check:checked~.menu {
                width: 65%;
            }
            /*////////////////////////////////////////////////////////////////*/
            .container-video p {
                display: none;
            }
            .perfil {
                width: 90%;
                height: 100px;
            }
            .menuhamburguesa {
                width: 40px;
            }
            .menuhamburguesa:hover {
                width: 115%;
                height: 115%;
                background-color: rgba(60, 60, 65, 0.1);
                border: solid 2px rgba(60, 60, 65, 0.4);
            }
            #masProyectos {
                margin-top: 20px;
                font-size: 10px;
                font-weight: bolder;
                color: rgba(0, 0, 0, 0.8);
                text-align: center;
            }
            #masProyectos h1 {
                font-size: 24px;
                margin-bottom: 5px;
                 font-family: 'Overpass', sans-serif;
            }
            #masProyectos .parrafo {
                font-size: 12px;
                margin-bottom: 0;
                 font-family: 'Overpass', sans-serif;
            }
            #masProyectos span {
                display: none;
            }
            .lead {
                font-size: 20px;
            }
            #logo {
                width: 80px;
                margin-top: 0;
            }
            #nombre {
                margin-top: 1.2vh;
                font-size: 12px;
            }
            #estudio {
                font-size: 8px;
            }
            .logo {
                margin-left: 0;
                margin-top: 0px;
                width: 150px;
                display: block;
                text-align: center;
            }
            .content-all label {
                right: 30px;
                top: 30px;
            }
            .container-video {
                width: 96%;
                height: auto;
                margin: auto;
            }
            .container-video video {
                width: 100%;
                height: 26vh;
                object-fit: cover;
                box-sizing: border-box;
            }
            #info-video {
                width: 100%;
            }
            #info-video h3 {
                font-size: 20px;
            }
            #info-video p {
                font-size: 13px;
                margin-bottom: 0px;
            }
            .btn {
                height: 35px;
            }
        }
        /*/////////////////////////GRID///////////////////////////*/
        
        @media only screen and (min-width: 0px) and (max-width: 481px) {
            
            #carouselExampleDark{
                display: none;
            }
            #carouselExampleMovil{
                display: block;
            }
            
            .galeriaGrid {
                width: 100%;
                height: autox;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(9, 1fr);
                grid-gap: 0px;
                box-sizing: border-box;
                padding: 0;
            }
            #card-01 {
                grid-area: 1/1/2/4;
            }
            #card-02 {
                grid-area: 2/1/3/4;
            }
            #card-03 {
                grid-area: 3/1/4/4;
            }
            #card-04 {
                grid-area: 4/1/5/4;
            }
            #video {
                grid-area: 5/1/7/4;
                box-sizing: border-box;
            }
            #card-05 {
                grid-area: 7/1/8/4;
            }
            #card-06 {
                grid-area: 8/1/9/4;
            }
            #card-07 {
                grid-area: 9/1/10/4;
            }
            

            .galeriaGrid img {
                width: 100%;
                height: 60%;
                object-fit: cover;
                box-sizing: border-box;
            }
            .galeriaGrid h3 {
                margin-top: 5px;
                margin-bottom: 0px;
                font-size: 16px;
                height: 13%;
            }
            .galeriaGrid p {
                font-size: 12px;
                height: 20%;
                margin-bottom: 0;
            }
            #video,
            video {
                width: 100%;
                height: 80%;
                object-fit: cover;
                box-sizing: border-box;
            }
            #h3video {
                margin-bottom: 14px;
            }
            footer{
                margin:5vw
            }
            footer img{
                width: 46px;
                height: 22px;

               
                
            }
            footer p{
                font-size: 12px;
            }
            .container-video{
                margin-top: 10vh;
            }
        }
        /* md */
        /*//////////////////////////////////////////////////////////8*/
        
        @media only screen and (min-width:481px) and (max-width:622px) {
            .galeriaGrid h3 {
                height: 50%;
            }
            .menuhamburguesa:hover {
                width: 100%;
                height: 100%;
                background-color: rgba(60, 60, 65, 0.1);
                border: solid 2px rgba(60, 60, 65, 0.4);
            }
            #masProyectos h1 {
                font-size: 26px;
                margin-bottom: 18px;
                 font-family: 'Overpass', sans-serif;
            }
            #masProyectos .parrafo {
                font-size: 16px;
                margin-bottom: 0;
                 font-family: 'Overpass', sans-serif;
            }
            .galeriaGrid h3 {
                margin-top: 10px;
                font-size: 16px;
                height: 10%;
            }
            .galeriaGrid p {
                font-size: 12px;
                height: 20%;
                margin-bottom: 0;
            }
            .galeriaGrid img {
                height: 50%;
            }
            .container-video {
                width: 96%;
                height: auto;
                margin: auto;
            }
            .container-video video {
                width: 100%;
                height: 45vh;
                object-fit: cover;
                box-sizing: border-box;
            }
            #info-video {
                width: 100%;
            }
            #info-video h3 {
                font-size: 20px;
            }
            #info-video p {
                font-size: 13px;
                margin-bottom: 0px;
            }
            .btn {
                height: 35px;
            }
        }
        
        .menu li {
            padding: 10px;
            padding-left: 20%;
            width: 100%;
            font-size: 35px;
        }
        
        #check:checked~.menu {
            width: 60%;
        }
        /*///////////////////////////////////////////////////////////*/
        
        @media only screen and (min-width: 623px) and (max-width: 922px) {
            .menuhamburguesa:hover {
                width: 80%;
                height: 80%;
                background-color: rgba(60, 60, 65, 0.1);
                border: solid 2px rgba(60, 60, 65, 0.4);
            }
            #masProyectos {
                margin-top: 20px;
                font-size: 18px;
                font-weight: bolder;
                color: rgba(0, 0, 0, 0.8);
                text-align: center;
            }
            #masProyectos h1 {
                font-size: 28px;
                margin-bottom: 18px;
                 font-family: 'Overpass', sans-serif;
            }
            #masProyectos .parrafo {
                font-size: 18px;
                margin-bottom: 0;
                 font-family: 'Overpass', sans-serif;
            }
            .lead {
                font-size: 20px;
            }
            .content-all label {
                top: 30px;
                right: 30px;
            }
            .container-video {
                width: 96%;
                height: auto;
                margin: auto;
            }
            .container-video video {
                width: 100%;
                height: 60vh;
                object-fit: cover;
                box-sizing: border-box;
            }
            #info-video {
                width: 100%;
            }
            #info-video h3 {
                font-size: 20px;
            }
            #info-video p {
                font-size: 13px;
                margin-bottom: 0px;
            }
            .btn {
                height: 35px;
            }
        }
        
        @media only screen and (min-width: 768px) and (max-width: 922px) {
            .menuhamburguesa:hover {
                width: 70%;
                height: 70%;
                background-color: rgba(60, 60, 65, 0.1);
                border: solid 2px rgba(60, 60, 65, 0.4);
            }
        }
        
        @media only screen and (min-width: 922px) and (max-width: 1128px) {
            .menuhamburguesa:hover {
                width: 55%;
                height: 55%;
                background-color: rgba(60, 60, 65, 0.1);
                border: solid 2px rgba(60, 60, 65, 0.4);
            }
        }
        /*///////////////////////////////////////////////////////////*/
        
        @media only screen and (min-width: 481px) and (max-width: 922px) {
            .galeriaGrid {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 20px;
                box-sizing: border-box;
                padding: 26px;
            }
            #card-01 {
                grid-area: 1/1/2/3;
            }
            #card-02 {
                grid-area: 2/1/3/3;
            }
            #card-03 {
                grid-area: 3/1/4/3;
            }
            #card-04 {
                grid-area: 3/3/4/5;
            }
            #card-05 {
                grid-area: 4/1/5/3;
            }
            #card-06 {
                grid-area: 4/3/5/5;
            }
            #card-07 {
                grid-area: 3/3/4/4;
                display: none;
            }
            #video {
                grid-area: 1/3/3/5;
                box-sizing: border-box;
            }
            .galeriaGrid img {
                width: 100%;
                height: 60%;
                object-fit: cover;
                box-sizing: border-box;
            }
            #video,
            video {
                width: 100%;
                height: 91.5%;
                object-fit: cover;
                box-sizing: border-box;
            }
            #text-card-video {
                height: 12%;
            }
            #h3video {
                margin: 0;
                height: 6%;
            }
          .modal1 h3{
              font-size: smaller;
          }
        /*/////////////////////////////////////////////////////////////////////////*/
        
        .galeria__gral {
            width: 98%;
            margin: auto;
            list-style: none;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .galeria__gral li {
            margin: 5px;
            margin-top: 20px;
        }
        
        .galeria__gral img {
            width: 370px;
            height: 180px;
        }}
        /*////////////////////////////////////////////////////*/
        
        @media only screen and (min-width: 923px) {
            .menu li {
                padding: 15px;
                padding-left: 20%;
                width: 100%;
                font-size: 50px;
            }
            #check:checked~.menu {
                width: 35%;
            }
        }